@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'),
    url('./assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
}

// End Reset

$light-cyan: hsl(173, 61%, 77%);
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

body {
  font-family: 'Space Mono', monospace;
  background-color: $light-grayish-cyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

header {
  color: $dark-grayish-cyan;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 700;
  padding: 2rem;
}

main {
  background-color: $white;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2rem;
  height: 100vh;
  display: grid;
}

form {
  display: grid;
  gap: 1.5rem;
}

.people-container,
.bill-container {
  display: grid;
  position: relative;
  // width: 50%;

  label {
    margin-bottom: 0.25rem;
  }

  img {
    width: 0.75rem;
    position: absolute;
    top: 58%;
    left: 1rem;
  }
}

.bill-container > label,
.people-container > label,
.tip h2 {
  color: $dark-grayish-cyan;
  font-size: 1rem;
  font-weight: 700;
}

.people-container {
  margin-block-end: 2rem;
}

input[type='number'] {
  background-color: $very-light-grayish-cyan;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  color: $very-dark-cyan;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  caret-color: $strong-cyan;
  &::-webkit-inner-spin-button {
    appearance: none;
  }
  &:hover,
  &:focus {
    outline: 2px solid $strong-cyan;
  }
  &::placeholder {
    color: $grayish-cyan;
  }
}

.tip {
  h2 {
    margin-bottom: 1rem;
    padding-left: 0.25rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: center;
}

.buttons button {
  background-color: $very-dark-cyan;
  border-radius: 0.375rem;
  padding: 0.25rem;
  color: $white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  width: 9rem;

  &:hover,
  &:focus {
    background-color: $light-cyan;
    color: $very-dark-cyan;
  }

  &.active {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
  }
}

.buttons > .custom-tip-btn {
  text-align: right;
  width: 9rem;
  &::placeholder {
    text-align: center;
    color: $dark-grayish-cyan;
  }
}

.result {
  background-color: $very-dark-cyan;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  gap: 1rem;

  .tip-amount-container {
    margin-block-end: 1rem;
  }

  .tip-amount-container,
  .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tip-amount-text,
.total-text {
  color: $white;
  font-size: 1rem;
  font-weight: 400;

  :last-child {
    color: $grayish-cyan;
    font-size: 0.75rem;
  }
}

.tip-amount,
.total {
  color: $strong-cyan;
  font-size: 2rem;
  font-weight: 700;
}

.reset {
  background-color: $strong-cyan;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: $very-dark-cyan;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  border: none;
  margin-block-start: 0.75rem;

  &:hover,
  &:focus {
    background-color: $light-cyan;
    // color: $very-dark-cyan;
  }
}

@media screen and (min-width: 48rem) {
  header {
    margin-block: 3rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    align-content: center;
    height: auto;
    max-width: 56rem;
    gap: 1.5rem;
    margin-inline: 1rem;

    .form {
      padding: 1rem;
      gap: 2.5rem;
    }
  }
  .buttons button,
  .buttons > .custom-tip-btn {
    width: 7rem;
  }
  .custom-tip-btn {
    &::placeholder {
      font-size: 1.375rem;
    }
  }

  .bill-container,
  .people-container {
    width: 100%;
    margin-block-end: 0;
  }

  .result-container {
    display: grid;
    align-items: flex-start;
  }

  .tip-amount,
  .total {
    font-size: 2.5rem;
  }

  .reset {
    align-self: flex-end;
  }
}
