@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'),
    url('./assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
}

// End Reset

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

body {
  font-family: 'Space Mono', monospace;
  background-color: $light-grayish-cyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

header {
  color: $dark-grayish-cyan;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 700;
  padding: 2rem;
}

main {
  background-color: $white;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2rem;
  height: 100vh;
  display: grid;
}

form {
  display: grid;
  gap: 1.5rem;
}

.bill-container {
  display: grid;
  gap: 0.5rem;

  img {
    width: 0.75rem;
  }
}

.people-container > label,
.bill-container label,
.tip h2 {
  color: $dark-grayish-cyan;
  font-size: 0.8rem;
  font-weight: 700;
}

input[type='number'] {
  background-color: $very-light-grayish-cyan;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: $very-dark-cyan;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.people-container {
  img {
    width: 0.75rem;
  }
}

.buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

.buttons button {
  background-color: $very-dark-cyan;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: $white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  width: 9rem;

  &:hover {
    background-color: $strong-cyan;
  }
}
